/Pipfile.lock
/Pipfile

/django-nodejs-backend/node_modules/
/django-nodejs-backend/static/src/js/node_modules/
/django-nodejs-backend/core/secrets.py
/django-nodejs-backend/static/src/js/package-lock.json
/django-nodejs-backend/static/src/js/test_send.js
/django-nodejs-backend/tipbot/migrations/
/django-nodejs-backend/vtm/migrations/
/django-nodejs-backend/db.sqlite3
/django-nodejs-backend/package-lock.json
/telegram-bot/keys.py
/telegram-bot/main.log
/telegram-bot/__pycache__/
/telegram-bot/tipbot_storage.pickle
/django-nodejs-backend/vtm/__pycache__/
/django-nodejs-backend/tipbot/__pycache__/
/django-nodejs-backend/core/__pycache__/

*.log
*.pickle
.idea/
.gitignore
